
<br />
<div class="row">

  <div class="col-4">
    <p class="display-4">ADD CITY INFORMATION</p>
    <form (ngSubmit)="inserCyty()">
      <div>
        <label>Name</label>
        <input name="name" type="text" [(ngModel)]="Ct.name" class="form-control" />
      </div>
      <div>
        <label>lat</label>
        <input name="lat" type="number" [(ngModel)]="Ct.lat" class="form-control" />
      </div>
      <div>
        <label>lon</label>
        <input name="lon" type="number" [(ngModel)]="Ct.lon" class="form-control" />
      </div>
      <div>
        <label> countryId</label>
        <input name="countryId" type="number" [(ngModel)]="Ct.countryId" class="form-control" />
      </div>
    <div>
      <label> countryName</label>
        <input name="countryName" type="text" [(ngModel)]="Ct.countryName" class="form-control" />
      </div>

      <div>
        <button class="btn btn-outline-info">SAVE</button>
      </div>
    </form>



  </div>
  <div class="col-8">
    <table class="table table-bordered">
      <thead class="table table-primary">
        <tr>
          <th>ID</th>
          <th>NAME</th>
          <th>lat</th>
          <th>lon</th>
          <th>countryId</th>
          <th>countryName</th>
          <th>ACTION</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="data && data.data">
          <tr *ngFor="let d of data.data">
            <td>{{ d.id }}</td>
            <td>{{ d.name }}</td>
            <td>{{ d.lat }}</td>
            <td>{{ d.lon }}</td>
            <td>{{ d.countryId }}</td>
            <td>{{ d.countryName }}</td>
            <td>
              <a class="btn btn-primary">EDIT</a>
              <a (click)="onDEL(d.countryId)" class="btn btn-danger">DELETE</a>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>

