
<app-manu></app-manu>
<br />
<br />
<br />
<br />
<div class="container">
  <router-outlet></router-outlet>


  <div class="display-3 text-center">
    <b class="text-bg-dark">With Authentication</b>
  </div>

  <body>
    <table class="table table-bordered table-striped">
      <tr>

        <th>Seed password</th>
        <th>Seed Email</th>
      </tr>
      <tbody>
        <tr>

          <td>@Open1234</td>
          <td>admin@gmail.com</td>
        </tr>
      </tbody>
    </table>
  </body>


</div>
<div>
  <br />

  <footer class="d-flex justify-content-center">
    <p class="bg-warning">Md Majarul Islam-1272178</p>
  </footer>
  <br />
  <br />
</div>
